@model IEnumerable<RentACar.Models.Cars>
@{
    ViewData["Title"] = "Rental";
}

<style>
    .card-img-top {
        width: 90%;
        height: 200px;
        object-fit: cover;
    }

    .card-body p {
        margin: 0;
    }
</style>

<div class="container">
    <h1 class="my-4">@ViewData["Title"]</h1>

    <div class="form-group">
        <label for="brandFilter">Filter</label>
        <select id="brandFilter" class="form-control">
            <option value="">All Brands</option>
            @foreach (var brand in Model.Select(c => c.CarBrandName).Distinct())
            {
                <option value="@brand">@brand</option>
            }
        </select>
    </div>

    @if (Model.Any())
    {
        <div class="row">
            @foreach (var car in Model)
            {
                <div class="col-md-6 mb-2" data-brand="@car.CarBrandName">
                    <div class="card2 h-100">
                        <img src="@car.ImgUrl" class="card-img-top" alt="@car.CarName">
                        <div class="card-body">
                            <h5 class="card-title">@car.CarName</h5>
                            <p class="card-text">
                                <strong>Brand:</strong> @car.CarBrandName<br>
                                <strong>KM:</strong> @car.CarKm<br>
                                <strong>Fuel:</strong> @car.CarFuel<br>
                                <strong>Price:</strong> @car.CarPrice<br>
                            </p>
                            @if (!User.Identity.IsAuthenticated)
                            {
                                <a asp-controller="Users" asp-action="Login" asp-route-id="@car.Id" class="btn btn-secondary btn-block">Rent</a>
                            }
                            else
                            {
                                <a asp-controller="URent" asp-action="RentCar" asp-route-carId="@car.Id" class="btn btn-secondary btn-block">Rent</a>
                            }
                        </div>
                    </div>
                </div>
            }
        </div>
    }
    else
    {
        <p class="text-center">No cars available for rent.</p>
    }
</div>

<script>
    $(document).ready(function () {
        $('#brandFilter').change(function () {
            var selectedBrand = $(this).val();
            $('.card2').hide();
            if (selectedBrand === '') {
                $('.card2').show();
            } else {
                $('.card[data-brand="' + selectedBrand + '"]').show();
            }
        });
    });
</script>
