@model Cars

@{
    ViewData["Title"] = "Delete ";
}

<div class="container">
    <div class="row">
        <div>
            <h1>@ViewData["Title"]</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <dl>

                <dt>Brand Name:</dt>
                <dd>@Model.CarBrandName</dd>
                <dt>Car Name:</dt>
                <dd>@Model.CarName</dd>
                <dt>Km:</dt>
                <dd>@Model.CarKm</dd>
                <dt>Fuel:</dt>
                <dd>@Model.CarFuel</dd>
                <dt>Price:</dt>
                <dd>@Model.CarPrice</dd>
                <dt>IsActive:</dt>
                <dd>@Model.IsActive</dd>
                <dt>Img:</dt>
                <dd>@Model.ImgUrl</dd>
            </dl>
            <form asp-controller="Cars" asp-action="DeleteConfirmed" method="post">
                <input type="hidden" asp-for="Id" />
                <div class="form-group">
                    <input type="submit" value="Delete" class="btn btn-danger" />
                    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
                </div>
            </form>
        </div>
    </div>
</div>
